%div.content
  %table{class: "table table-striped table-bordered table-condensed"}
    - @data.each do|bookmark|
      %tr
        %td.title= bookmark.title
        %td.url= bookmark.url
        %td.count= bookmark.bookmark_count

