!!! XML
!!!
%html{html_attrs('ja')}
  %head
    %title LLnews
    %meta{:"http-equiv"=> 'Content-type', content: 'text/html', charset: 'utf-8'}
    %link{rel: 'stylesheet', href: 'bootstrap/css/bootstrap.min.css'}
    %link{rel: 'stylesheet', href: 'bootstrap/css/bootstrap-responsive.min.css'}
    %link{rel: 'stylesheet', href: 'css/ui-lightness/jquery-ui-1.8.23.custom.css'}
    %link{rel: 'stylesheet', href: 'stylesheets/base.css'}
    %script{src: 'bootstrap/js/bootstrap.min.js'}
    %script{src: 'http://code.jquery.com/jquery-latest.js'}
    %script{src: 'http://ajax.googleapis.com/ajax/libs/jqueryui/1/jquery-ui.min.js'}
    %script{src: 'js/jquery.ui.datepicker-ja.js'}
    :javascript
      $(function(){
        // datepicker
        $("#datepicker").datepicker({ dateFormat: "yy-mm-dd" })
      });

  %body
    %div.hero-unit
      %h1
        %a{ href: "./"} Light Weight Lang News

    %form{action: "/target-date", method: "POST"}
      %input{type: "text", id: "datepicker", name: "target_date"}
        %input{type: "submit", id: "date", class: "btn btn-primary", value: "わーぷ"} 

    %div#container
      <!-- Basic tabs(bootstrap) -->
      %ul{class: 'nav nav-pills'}
        - @tags.each do |tag|
          %li
            %a{href: "#{tag}", id: "#{tag}"} #{tag}
    =yield

